<!DOCTYPE html>
<html>
  <body>
    <p>Dear <%= lead_name %>,</p>
    <p>We would like to remind you of your upcoming follow-up at <%= follow_up_time %>.</p>
    <p>If you have any questions or concerns, feel free to reach out to us.</p>
    <p>Best regards,<br>Investrow</p>
  </body>
</html>
