<!-- user_email_template.ejs -->
<h3>Hi <%= user_name %>,</h3>
<p>
  This is a reminder that you are assigned to follow up with <%= lead_name %>.
</p>
<p>
  The follow-up time is set for <%= follow_up_time %>. Please make sure to
  follow up with the lead.
</p>
<p>
  Best regards, <br />
  Investrow
</p>
